@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f6f7f9;
  color: #0b0f19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

html.theme-dark {
  filter: invert(1) hue-rotate(180deg);
  color-scheme: dark;
}

html.theme-dark img,
html.theme-dark video {
  filter: invert(1) hue-rotate(180deg);
}

::selection {
  background: rgba(0, 122, 255, 0.18);
}
